@model TKWEB.Models.QUESTIONNAIRES

    <header>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <LINK href="../css/TKWEB.css" type="text/css" rel="stylesheet">
    </header>

@{
    ViewData["Title"] = "Create";

    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "ITEM-1",
        Value = "ITEM-1"
    });
    listItems.Add(new SelectListItem
    {
        Text = "ITEM-2",
        Value = "ITEM-2"
    });
    listItems.Add(new SelectListItem
    {
        Text = "ITEM-3",
        Value = "ITEM-3"
    });
}
<body>

    <h1>Create</h1>

    <h4>QUESTIONNAIRES</h4>
    <hr />
    <div class="container-fluid">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DATES" class="control-label"></label>
                    <input asp-for="DATES" class="form-control" />
                    <span asp-validation-for="DATES" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NO" class="control-label"></label>
                    <input asp-for="NO" class="form-control" />
                    <span asp-validation-for="NO" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NAME" class="control-label"></label>
                    <input asp-for="NAME" class="form-control" />
                    <span asp-validation-for="NAME" class="text-danger"></span>
                </div>
                <div class="form-group-DEP">
                    <label asp-for="DEP" class="control-label"></label>
                    <div class="DropDownListFor">
                        @*@Html.DropDownListFor(model => model.DEP, listItems, "請選擇")*@

                        @Html.DropDownListFor(model => model.DEP, new SelectList(ViewBag.DEPselectList, "Value", "Text"))

                    </div>
                    @*<input asp-for="DEP" class="form-control" id="selector">*@
                    <span asp-validation-for="DEP" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group-QUESTION1">
                    <label asp-for="QUESTION1" class="control-label-QUESTION1"></label>

                    @foreach (var STATUS in ViewBag.STATUSList)
                    {
                        <div class="checkbox">
                            <input id="@STATUS.Text" type="checkbox" name="STATUS" value="@STATUS.Value" />
                            <label for="@STATUS.Text">
                                @STATUS.Text
                            </label>
                        </div>
                    }
                    @Html.HiddenFor(model => model.QUESTION1)
                    @*<input asp-for="QUESTION1" class="form-control" />*@
                    <span asp-validation-for="QUESTION1" class="text-danger"></span>

                </div>
                <br />
                <div class="form-group-QUESTION1">
                    <label asp-for="QUESTION2" class="control-label"></label>
                    <input asp-for="QUESTION2" class="form-control" />
                    <span asp-validation-for="QUESTION2" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group-QUESTION1">
                    <label asp-for="QUESTION3" class="control-label"></label>
                    <br></br>
                    @Html.RadioButtonFor(model => model.QUESTION3, "否")
                    否
                    <br></br>
                    @Html.RadioButtonFor(model => model.QUESTION3, "是，請於下題填寫何時、何地、何人、班次")
                    是，請於下題填寫何時、何地、何人、班次

                    @*<input asp-for="QUESTION3" class="form-control" />*@
                    <span asp-validation-for="QUESTION3" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group-QUESTION1">
                    <label asp-for="QUESTION4" class="control-label"></label>
                    <input asp-for="QUESTION4" class="form-control" />
                    <span asp-validation-for="QUESTION4" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group-QUESTION1">
                    <label asp-for="QUESTION5" class="control-label"></label>
                    <br></br>
                    @Html.RadioButtonFor(model => model.QUESTION5, "否")
                    否
                    <br></br>
                    @Html.RadioButtonFor(model => model.QUESTION5, "是，請於下題填寫何時接觸、何地接觸、何人接觸")
                    是，請於下題填寫何時接觸、何地接觸、何人接觸
                    <span asp-validation-for="QUESTION5" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group-QUESTION1">
                    <label asp-for="QUESTION6" class="control-label"></label>
                    <input asp-for="QUESTION6" class="form-control" />
                    <span asp-validation-for="QUESTION6" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group-QUESTION1">
                    <label asp-for="QUESTION7" class="control-label"></label>
                    <br></br>
                    @Html.RadioButtonFor(model => model.QUESTION7, "否")
                    否
                    <br></br>
                    @Html.RadioButtonFor(model => model.QUESTION7, "是，請於下題填寫何時、何地、何人、共約幾人")
                    是，請於下題填寫何時、何地、何人、共約幾人
                    <span asp-validation-for="QUESTION7" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group-QUESTION1">
                    <label asp-for="QUESTION8" class="control-label"></label>
                    <input asp-for="QUESTION8" class="form-control" />
                    <span asp-validation-for="QUESTION8" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group-QUESTION1">
                    <label asp-for="QUESTION9" class="control-label"></label>
                    <br></br>
                    @Html.RadioButtonFor(model => model.QUESTION9, "否")
                    否
                    <br></br>
                    @Html.RadioButtonFor(model => model.QUESTION9, "是，請於下題填寫何時、何地、何人、何種交通工具、班次")
                    是，請於下題填寫何時、何地、何人、何種交通工具、班次
                    <span asp-validation-for="QUESTION9" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group-QUESTION1">
                    <label asp-for="QUESTION10" class="control-label"></label>
                    <input asp-for="QUESTION10" class="form-control" />
                    <span asp-validation-for="QUESTION10" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group-QUESTION1">
                    <label asp-for="QUESTION11" class="control-label"></label>
                    <input asp-for="QUESTION11" class="form-control" />
                    <span asp-validation-for="QUESTION11" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="提交" class="btn btn-primary" onclick="update()" />
                </div>
            </form>
        </div>
    </div>
</body>

<script>
    function update(arg) {
        var CHECKBOXLIST = ""
        //Iterating the collection of checkboxes which checked marked
        $('input[type=checkbox][name=STATUS]').each(function () {
            if (this.checked) {
                CHECKBOXLIST = CHECKBOXLIST + $(this).val() + ","
                //assign set value to hidden field
                $('#QUESTION1').val(CHECKBOXLIST);
            }
        });

    }
</script>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
