@model IEnumerable<TKWEB.Models.Hridworkhrs>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">建立工時</a>
</p>

@using (Html.BeginForm("Index", "Hridworkhrs", FormMethod.Get))
{
    <label>起始日期 格式=年月日 </label>
    <input type="text" id=STARTDATES name=STARTDATES value="@DateTime.Now.ToString("yyyyMMdd")">
    <label>結束日期 格式=年月日 </label>
    <input type="text" id=ENDDATES name=ENDDATES value="@DateTime.Now.ToString("yyyyMMdd")">
    <input type="submit" value="查詢" />
    <p></p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Wrokdates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loginid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hrs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Wrokdates)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Loginid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Workid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hrs)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">修改</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">明細</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
