@model IEnumerable<TKWEB.Models.Hridworkhrs>

@{
    ViewData["Title"] = "Index";
}

<h1>報表</h1>

<table class="table">
    <form>
        <p></p>
        <input type="text" id=STARTDATES name=STARTDATES value="20191024">
        <p></p>
        <input type="text" id=ENDDATES name=ENDDATES value="20191024">
        <p></p>
        <input type="submit" value="查詢" />
        </p>

    </form>



</table>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Wrokdates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loginid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hrs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Wrokdates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loginid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hrs)
            </td>
            
        </tr>
}
    </tbody>
</table>
